      .body{
           margin: 0;
           padding: 0;
       }
       
       #menu{
           
       }

       #menu ul{
           list-style: none;
           position: relative;
           margin: 0;
           background-color: #6666ff;
           list-style: none;
           text-decoration: white;
           font-family: 'Arial';
       }
       
           @media screen and (min-width:600px) {
           nav {
            float: left;
           width: 25%;
 }
            section {
            margin-left: 25%;
 }
}
            @media screen and (min-width:400px) and (max-width:599px) 
         
            
            {
 
                nav li {
   display: inline;
 }
}

       
       #menu ul li{
           display: inline;
           padding:0px;
           margin:0px;
           background-color: #6666ff;
           list-style:none;
               
       }
       
       #menu ul li a{
           padding: 10px 10px;
           display: inline-block;
           color: white;
           text-decoration: none;