.header, h3{
   text-align: center;
   background-color: blue;
   color: white;
   height: 70px;
   font: ;
}

.nav{
  background-color: blue;
  color: black;
  text-align: center;
}

.footer{
  background-color: #;
  font: ;
}

.p{
  font: verdana;
}
.article{
   float: left;
}
